* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: $font-spacing;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $text;
  background: $background;
  font-family: $font-family;
}

a, a:visited {
  color: $primary;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: 90%;
  margin: 50px auto 0 auto;

  &.no-gutters {
    width: 100%;
    margin: 0;
  }
}

section {
  @extend .container;
}

h1, h2, h3, h4, h5, h6 {
  color: $primary;
  padding: 15px 0;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

p {
  margin: 10px 0;
}

h2.topper {
  padding-bottom: 0;
  font-size: 140%;
}

p.leadin {
  font-size: $font-size * 1.2;
  margin-top: 0;
}

p.small {
  font-size: $font-size * 0.75;
}

strong { font-weight: bold; }

ul, ol {
  width: 100%;

  li {
    margin-left: 20px;
  }
}

.flex {
  display: flex;
}

.flex.vertical {
  flex-direction: column;
}

.flex.vertical.vcentered {
  justify-content: center;
}

.flex.vertical.vcentered > * {
  flex-grow: 0;
}

.flex.no-gutters {
  justify-content: space-between;
}

.flex.no-gutters > * {
  margin: 0;
}

.flex > * {
  flex: 1;
  margin: 1%;
}

.flex > .wide {
  flex: 2;
}

figure img {
  max-width: 100%;
  max-height: 100%;
}

.center {
  text-align: center;
}

.padded {
  padding: 25px 0;
}

.vpadded {
  padding: 0 25px;
}

footer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  box-shadow: inset 0 20px 22px lighten($subtle-shade, 5%);
  background: white;
  color: darken($subtle-shade, 15%);
  margin-top: 100px;

  a, a:hover {
    color: darken($subtle-shade, 15%);
  }
}

.contained-half {
  width: 50%;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 80%;
  }
}

button, .button {
  font-size: $font-size;
  font-family: $font-family;
  border-width: 0;
  padding: 10px 14px 8px 14px;
  background: $primary;
  cursor: pointer;
  color: white !important;
  font-weight: bold;
  text-decoration: none !important;

  &:hover { background: lighten($primary, 5%); }
}

input, textarea {
  font-size: $font-size;
  font-family: $font-family;
  padding: 10px 14px 8px 14px;
  border: 1px solid $subtle-shade;

  &:hover {
    border: 1px solid lighten($primary, 15%);
  }
}

@media (max-width: 768px) {
  section {
    width: 98%;
    box-shadow: none;
    margin: 1%;
  }

  .flex:not(.no-stack) { display: block; }
  .flex > * { margin: 1%; }
}
